$primary-color: #f6f8fc; // Exemplo de cor primária clara
$secondary-color: #2ecc71; // Exemplo de cor secundária clara
$background-color: #ffffff;
$text-color: #363131;

$accent-color: #e74c3c; // Exemplo de cor primária escura
$primary-color-dark: #dd092f;
$secondary-color-dark: #e13757;
$secondary-color-card-dark: #77b35b;
$text-color-dark: #f5f5f5;
