$padding-small: 5px 10px;
$padding-semi-medium: 9px 19px;
$padding-medium: 12px;
$padding-medium-large: 18px;
$padding-large: 24px;

$small-border-radius: 10px;
$medium-border-radius: 20px;
$large-border-radius: 50px;
