@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&display=swap');

@mixin text-default($font-size, $font-weight) {
  font-family: Kumbh Sans;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: 16.12px;
}

@mixin text-span($font-size, $font-weight) {
  font-family: Inter;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: 10.89px;
}
@mixin display-colu() {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
