@import './main.scss';

:root {
  @include light-mode-theme();
}

.dark-mode-theme {
  @include dark-mode-theme();
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

li {
  list-style-type: none;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
}

input {
  border: none;
}

button,
a {
  border: none;
  cursor: pointer;
}
