@import '../../styles/main.scss';
main {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  background-color: $primary-color;
  padding: 0 27px 50px;

  section {
    position: relative;
    z-index: 3;
  }
  .background {

    .pokeball-img {
      position: absolute;
    }
    .pokeball-1 {
      left: -19%;
      top: -1%;
    }
    .pokeball-2 {
      right: 21%;
      top: -5%;
    }
    .pokeball-3 {
      right: -9%;
      top: 8%;
    }

    @media screen and (min-width: 1300px) {
      .pokeball-img {
        width: 412px;
        height: 412px;
      }
      .pokeball-1 {
        left: -11%;
        top: -4%;
      }
      .pokeball-2 {
        right: 24%;
        top: -23%;
      }
      .pokeball-3 {
        right: -8%;
        top: 22%;
      }
    }
  }
}
