@import '../../styles/main.scss';
main {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  padding: 0 27px 50px;

  section {
    position: relative;
    z-index: 3;
  }
  .background {
    .pokeball-img {
      position: absolute;
      filter: var(--bg-color-pokeball);
    }
    .pokeball-1 {
      left: -70px;
      top: -25px;
    }
    .pokeball-2 {
      right: 50px;
      top: -95px;
    }
    .pokeball-3 {
      right: -105px;
      top: 210px;
    }

    @media screen and (min-width: 1300px) {
      .pokeball-img {
        width: 412px;
        height: 412px;
      }
      .pokeball-1 {
        left: -125px;
        top: -85px;
      }
      .pokeball-2 {
        right: 140px;
        top: -240px;
      }
      .pokeball-3 {
        right: -170px;
        top: 300px;
      }
    }
  }
}
