<div class="dex-about">
  <section class="pokemon-about">
    <div class="img-pokemon" *ngIf="pokemonImage">
      <img [ngSrc]="pokemonImage" width="200" height="200" alt="Bulbasaur" priority />
    </div>
    <div class="pokemon-infos">
      <div class="pokemon-info">
        <div>
          <span id="id-poke">#{{ pokemonIdFormat }}</span>
          <h1>{{ pokemonName }}</h1>
        </div>
        <ul class="types">
          <li *ngFor="let types of pokemonTypes">
            <span class="card-type" [ngClass]="types.type.name">{{ types.type.name }}</span>
          </li>
        </ul>
        <p class="poke-desc">{{ pokemonDesc }}</p>
      </div>
      <div class="pokemon-measurements">
        <div class="basic-info">
          <span>Height</span>
          <span>0.7m</span>
        </div>
        <div class="basic-info">
          <span>Weight</span>
          <span>0.7m</span>
        </div>
      </div>
      <div class="pokemon-stats">
        <h2>Stats</h2>
        <ul>
          <li class="basic-info" [ngClass]="stat.name" *ngFor="let stat of pokemonStats.stats">
            <span>{{ stat.name }}</span>
            <span>{{ stat.value }}</span>
          </li>
        </ul>
      </div>
      <div class="pokemon-abilities">
        <h2>Abilities</h2>
        <ul>
          <li class="basic-info" *ngFor="let abilites of pokemonAbilites">
            {{ abilites.ability?.name }}
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="pokemon-evolution">
    <h2>Evolution</h2>
    <div class="evolutions" *ngIf="pokemonEvolutionsName">
      <div>
        <img [ngSrc]="pokemonEvolutionsName.firstStage" width="65" height="65" alt="bulba" />
      </div>
      <i class="fa-solid fa-arrow-right"></i>
      <div>
        <img [ngSrc]="pokemonEvolutionsName.secondStage" width="80" height="80" alt="bulba" />
      </div>
      <i class="fa-solid fa-arrow-right"></i>
      <div>
        <img [ngSrc]="pokemonEvolutionsName.thirdStage" width="95" height="95" alt="bulba" />
      </div>
    </div>
  </section>
</div>
