<div class="card">
  <div class="card-info">
    <div>
      <span>Grass</span>
      <span>Poison</span>
    </div>

    <h1>Bulbasaur</h1>
    <p class="poke-desc">A strange seed was planted on its back at birth. the plant sprouts and grows with this pokémon.</p>
    <button>Know More</button>
  </div>
  <div class="card-img">
    <div>
      <span>#1</span>
    </div>
    <div class="img-pokemon">
      <img ngSrc="assets/bulba.png" width="120" height="120" alt="Bulbasaur" />
    </div>
  </div>
  <div></div>
</div>
