@import '../../styles/main';

.card {
  display: inline-flex;
  justify-content: space-between;
  width: 344px;
  height: 200px;
  background-color: $background-color-card;
  padding: $padding-medium-large;
  border-radius: $medium-border-radius;
  box-shadow: 0px 21px 25.9px -14px #0000001a;

  .types {
    display: inline-flex;
    gap: 8px;
    .card-type {
      @include text-span(10px, 500);
      background-color: #bfc66b;
      padding: $padding-small;
      border-radius: $large-border-radius;
    }
  }
  .card-info,
  .card-img {
    @include display-colu();

    h1 {
      @include text-default(27px, 700);
    }
  }

  .card-img {
    align-items: flex-end;

    #id-poke {
      @include text-default(15px, 700);
    }
  }

  .poke-desc {
    @include text-default(13px, 400);
    width: 168px;
  }

  button {
    @include text-span(12px, 700);
    padding: $padding-semi-medium;
    border-radius: $large-border-radius;
    width: fit-content;
    background-color: $color-grass;
  }
}
