@import '../../styles/main';

.card {
  display: inline-flex;
  justify-content: space-between;
  width: 344px;
  height: 200px;
  background-color: $background-color-card;
  padding: $padding-medium-large;
  border-radius: $medium-border-radius;
  box-shadow: 0px 21px 25.9px -14px #0000001a;

  .types {
    display: inline-flex;
    gap: 8px;
    .card-type {
      @include text-span(10px, 500);
      padding: $padding-small;
      border-radius: $large-border-radius;
    }
  }
  .card-info,
  .card-img {
    @include display-colu();

    h1 {
      @include text-default(27px, 700);
    }
  }

  .card-img {
    align-items: flex-end;

    #id-poke {
      @include text-default(15px, 700);
    }
  }

  .poke-desc {
    @include text-default(13px, 400);
    width: 168px;
  }

  button {
    @include text-span(12px, 700);
    padding: $padding-semi-medium;
    border-radius: $large-border-radius;
    width: fit-content;
    background-color: $grass;
  }

  .normal {
    background-color: #a8a77a;
  }

  .fire {
    background-color: #ee8130;
  }

  .water {
    background-color: #6390f0;
  }

  .electric {
    background-color: #f7d02c;
  }

  .grass {
    background-color: #7ac74c;
  }

  .ice {
    background-color: #96d9d6;
  }

  .fighting {
    background-color: #c22e28;
  }

  .poison {
    background-color: #a33ea1;
  }

  .ground {
    background-color: #e2bf65;
  }

  .flying {
    background-color: #a98ff3;
  }

  .psychic {
    background-color: #f95587;
  }

  .bug {
    background-color: #a6b91a;
  }

  .rock {
    background-color: #b6a136;
  }

  .ghost {
    background-color: #735797;
  }

  .dragon {
    background-color: #6f35fc;
  }

  .dark {
    background-color: #705746;
  }

  .steel {
    background-color: #b7b7ce;
  }

  .fairy {
    background-color: #d685ad;
  }

}
