<div class="card">
  <div class="card-info">
    <ul class="types">
      <li *ngFor="let types of pokemonTypes">
        <span class="card-type" [ngClass]="types.type.name">{{ types.type.name }}</span>
      </li>
    </ul>
    <div class="types"></div>

    <h1>{{ pokemonName }}</h1>
    <p class="poke-desc">{{ pokemonDesc }}.</p>
    <button>Know More</button>
  </div>
  <div class="card-img">
    <div>
      <span id="id-poke">#{{ pokemonId }}</span>
    </div>
    <div class="img-pokemon" *ngIf="pokemonImage">
      <img [ngSrc]="pokemonImage" width="120" height="120" alt="Bulbasaur" />
    </div>
  </div>
</div>
