@import '../../styles/main';

.card {
  display: inline-flex;
  justify-content: space-between;
  width: 344px;
  height: 200px;
  background-color: $background-color-card;
  padding: $medium-padding;
  border-radius: $medium-border-radius;
  box-shadow: 0px 21px 25.9px -14px #0000001A;

  .card-info, .card-img {
    @include display-colu();
  }
  span {
    @include text-span();
    background-color: #BFC66B;
    padding: $small-padding;
    border-radius: $large-border-radius;
  }

  .poke-desc {
    @include text-default(13px);
    width: 168px;
  }
}